@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.container {
  position: relative;
  width: 200px;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: -0.7px;
  font-weight: 600;
}

.dropdown-header {
  
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background: #fff;
  color: rgba(1, 22, 39, 0.7);
  border: 0.5px solid #e8e8e8;
  border-radius: 5px;
  column-gap: 32px;
  cursor: pointer;
  height: 30px;
  
  justify-content: space-between;
  padding: 5px;
  
  width: 100%;
}
.dropdown-label{
  font-size: 12px;
  color: #011627;
  font-weight: 600;
}



.dropdown-list {
    box-sizing: border-box;
    position: absolute;
    padding: 10px 10px;
    list-style: none;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    color: rgba(1, 22, 39, 0.7);
    text-align: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.7px;
    z-index: 100;
    background-color: #fff;
    max-height: 90vh;
    overflow-y: auto;
}

.dropdown-item {
    width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}